<div id="<%= dom_id borrow_book %>">
  <p>
    <strong>User:</strong>
    <%= borrow_book.user_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= borrow_book.book_id %>
  </p>

  <p>
    <strong>Issue date:</strong>
    <%= borrow_book.issue_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= borrow_book.return_date %>
  </p>

  <p>
    <strong>Fine:</strong>
    <%= borrow_book.fine %>
  </p>

</div>
