<div class="container-fluid"> 
    <br/>
    <%= link_to "Create New book", new_book_path, class: "btn btn-primary btn-sm" %>
    <br/>
    
    <h3>Search Books</h3>
    <%= form_tag(books_path, method: 'get') do %>
      <a>Title</a>
      <%= text_field_tag(:title, params[:title]) %>
      <a>Publisher</a>
      <%= text_field_tag(:publisher, params[:publisher]) %>
      <a>ISBN</a>
      <%= text_field_tag(:isbn, params[:isbn]) %>
      <a>Published Date</a>
      <%= date_field_tag(:published_date, params[:published_date]) %>
      <a>Quantity</a>
      <%= text_field_tag(:quantity, params[:quantity]) %>
      <%= submit_tag("Search", name: nil, class: "btn btn-primary btn-sm") %>
    <% end %>
    <br/>
  <h5>Books</h5>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Publisher</th>
        <th scope="col">ISBN</th>
        <th scope="col">Published Date</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |book| %>
        <%= content_tag :tr, id: dom_id(book), class: dom_class(book) do%>
          <td> <%= book.title %> </td>
          <td> <%= book.publisher %> </td>
          <td> <%= book.isbn %> </td>
          <td> <%= book.published_date %> </td>
          <td> <%= book.quantity %> </td>
          <td>
            <%= render 'books/book_actions', locals: {book: book} %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%== pagy_bootstrap_combo_nav_js(@pagy) %>
  </div>
</div>